<!-- <div class="img-main">
    <img src="https://www.cartier.com/on/demandware.static/-/Library-Sites-CartierSharedLibrary-BGTJ/default/dw85a62649/homepage/2025/February/W1/US-CA/01_NEW_HERO_TRINITY_Y2_WORN_01_1920x1080.jpg">
</div> -->
<div class="home">
    <div class="motto">
         <p>
            Welcome to Aurora
        </p>
        <p>
            Where Timeless Beauty Meets Elegance. 
        </p>
    </div>
    <p class="paragraph">
        Where Timeless Beauty Meets Elegance.
    At Aurora, we believe jewelry is more than just an accessory – 
    it’s a symbol of love, celebration, and individuality. Our carefully curated 
    collection features the finest pieces from world-renowned brands like Pandora, 
    Swarovski, Tiffany & Co., and Cartier, ensuring every moment you cherish is adorned with timeless elegance.
    </p>
</div>
<hr class="line">

<div class="pictures-grid-even">
    <img src="https://www.cartier.com/dw/image/v2/BGTJ_PRD/on/demandware.static/-/Sites-cartier-master/default/dw169c2ce1/images/large/eac15482b0315965b4ba38a8dcf09850.png?sw=750&sh=750&sm=fit&sfrm=png">
    <video width="100%" autoplay loop muted>
        <source src="https://media.bulgari.com/video/upload/f_auto,q_auto/v1734428980/hp/serpenti-infinito/collection_1_lh7wis.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
</div>

<div class="pictures-grid-odd">
    <div class="video-container">
      <video width="100%" autoplay loop muted>
        <source src="https://media.tiffany.com/is/content/tiffanydm/2024_ICONS_BC_BGHERO_VIDEO3_Desktop-1" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <p class="paragraph">
        Whether you’re seeking the perfect gift for someone special or a sparkling addition to your personal collection, 
        our selection of rings, necklaces, bracelets, earrings, and charms is designed to suit every style and occasion. 
        Explore a world where craftsmanship meets luxury and let each piece tell your story.
      </p>
    </div>
    <img src="https://www.cartier.com/dw/image/v2/BGTJ_PRD/on/demandware.static/-/Sites-cartier-master/default/dw6e08019a/images/large/af2d9e45f46e54168f09bfb91ab4e1ba.png?sw=750&sh=750&sm=fit&sfrm=png">
  </div>
  