.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vw;
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 24px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 24px;
  font-size: 1.5rem;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

button {
  width: 100%;
  margin-top: 16px;
}

.login-link {
  text-align: center;
  margin-top: 16px;
}

.login-link a {
  text-decoration: none;
}

mat-error{
  text-align: center;
}