<div class="form-container">
  <form>
  <input
    type="search"
    placeholder="Search for items..."
    [(ngModel)]="filterRequest.query"
    (input)="onSearchInput($event)"
    [ngModelOptions]="{ standalone: true }"
  />

  <mat-select
    id="category"
    [(value)]="selectedCategory"
    (selectionChange)="onCategoryChange($event.value)"
    class="with-dropdown-icon"
  >
    <!-- Template for selected display -->
    <ng-template>
      <div class="selected-display">
        <span *ngIf="selectedCategory === 0">All Categories</span>
        <span *ngFor="let category of categories">
          <span *ngIf="category.id === selectedCategory">{{ category.name }}</span>
        </span>
      </div>
    </ng-template>

    <!-- Options in dropdown -->
    <mat-option [value]="0">
      All Categories
     </mat-option>
    <mat-option *ngFor="let category of categories" [value]="category.id">
      {{ category.name }}
     
    </mat-option>
  </mat-select>

  <i class="fa fa-search"></i>
</form>
</div>

<div class="content-container">
  <div class="main-content">
    @if(isLoading) {
      <div class="loading-container">
        <div class="spinner"></div>
        <p>Loading products...</p>
      </div>
    } @else {
      @if(products.length > 0) {
      <div class="grid-container">
        @for(element of products; track element.productId){
          <div class="grid-item" (click)="openProduct(element.productId)">
            <img [src]="element.image" alt="Product Image">
            <div class="overlay">
              <div class="info">
                <div class="icon" (click)="addToCart($event, element)">
                  <i class="fa-solid fa-plus"></i>
                </div>
                <h4>{{ element.name }}</h4>
                <p>Price: {{ element.price }}</p>
              </div>
            </div>
          </div>
        }
      </div>
    } @else {
      <div class="no-products-container">
        <div class="no-products-found">
          <div class="icon-container">
            <i class="fa-solid fa-box-open fa-5x"></i>
          </div>
          <h2>Oops! No products found.</h2>
          <p>We couldn't find any products matching your search. Try searching for something else or check back later!</p>
        </div>
      </div>
    }}

    <!-- Paginator -->
    <mat-paginator 
      [length]="totalRecords"
      [pageSize]="pageSize"
      [pageSizeOptions]="[12, 16, 20]"
      (page)="onPageChange($event)">
    </mat-paginator>
  </div>

  <app-filter 
    class="filters"
    [selectedCategories]="selectedCategories" 
    [resetFilters]="resetFilters"
    [sorts]="sort"
    (filterRequest)="onChildDataChange($event)">
  </app-filter>
</div>