<div class="user-details-container">
    <h3>User Details</h3>
    <div class="user-detail">
      <strong>First Name:</strong>
      <span>{{ userDetails.firstName }}</span>
    </div>
    <div class="user-detail">
      <strong>Last Name:</strong>
      <span>{{ userDetails.lastName }}</span>
    </div>
    <div class="user-detail">
      <strong>Email:</strong>
      <span>{{ userDetails.email }}</span>
    </div>
    <button 
    class="deactivate-button" 
    (click)="openDeactivationDialog(userDetails.email)">
    Deactivate Profie
  </button>
  </div>
  

@if(purchaseHistory?.length === 0){
    <div >
    <section class="trending-product section" style="margin-top: 12px;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>You have no previous purchases!</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
}

<div *ngIf="(purchaseHistory?.length ?? 0) > 0" class="checkout-sidebar-price-table">

  <h2>Purchase History</h2>
  <div *ngFor="let order of purchaseHistory" class="order-group">
    <h5 class="order-date">
      Order date: {{ (order[0].orderDate) | date: "MMM dd, yyyy 'at' hh:mm a" }}
    </h5>

    <div class="products-list">
      <div *ngFor="let orderDetail of order" class="product-card">
       <div class="product-info">
    <h3 class="product-name">{{ orderDetail.name }}</h3>
    <p>Quantity: <strong>{{ orderDetail.quantity }}</strong></p>
    <p>Price per unit: <strong>{{ orderDetail.price | currency }}</strong></p>
    <p>Subtotal: <strong>{{ subtotal(orderDetail) | currency }}</strong></p>
  </div>

  <img
    [src]="orderDetail.image"
    alt="{{ orderDetail.name }}"
    class="product-image"
  />
      </div>
    </div>
 
</div>

    <mat-paginator
      [length]="totalRecords"
      [pageSize]="pageSize"
      [pageSizeOptions]="[2, 4, 6]"
      (page)="onPageChange($event)">
    </mat-paginator>
  </div>



<app-delete-confirmation
    *ngIf="showConfirmationModal"
    [title]="modalTitle"
    [message]="modalMessage"
    [confirmText]="modalConfirmText"
    [cancelText]="modalCancelText"
    (confirm)="onConfirm()"
    (cancel)="onCancel()"
  ></app-delete-confirmation>